<!-- Section About Us -->
<section id="about-us" class="dark">
    <div class="v-space-25"></div>
    <div class="container">

        <div class="v-space-25"></div>

        <div class="row">
            <img src="img/about/512/1.jpg" class="span4" alt="" />
            <img src="img/about/512/2.jpg" class="span4 hidden-phone" alt="" />
            <img src="img/about/512/3.jpg" class="span4 hidden-phone" alt="" />
        </div>

        <div class="v-space-25"></div>

        <!-- Services -->
        <div class="services">
            <h2>Services.</h2>
            <div class="v-space-25"></div>
            <div class="row">
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-camera-retro"></i></div>
                    <p>Event & Nightlife</p>
                    <p>Resident of Metropolis Fremantle, Amplifier Capitol, Arcade Nightclub, Last Night & Neko Nation. Please contact early regarding any services needed</p>
                </article>
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-camera-retro"></i></div>
                    <p>Model & Press Kits</p>
                    <p>High key, low key and locational portraits, both creative and professional.</p>
                </article>
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-camera-retro"></i></div>
                    <p>Live Music</p>
                    <p>Live music and journalistic photography spanning a large variety of concerts of different sizes & locations, as well as a plethora of festival work.</p>
                </article>
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-book"></i></div>
                    <p>Document Design</p>
                    <p>Professional documentation and formatting for critical client briefs and submissions.</p>
                </article>
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-server"></i></div>
                    <p>Web Design</p>
                    <p>Web design, maintenance and deployment for a variety of small and large clients, across a variety of static and CMS installations.</p>
                </article>
                <article class="s-items span4">
                    <div class="s-ico"><i class="fa fa-server"></i></div>
                    <p>Systems Administration</p>
                    <p>Providing systems & network administration, as well as helpdesk support, VPS management and other IT services. A professional resume is available on demand.</p>
                </article>
            </div>
        </div>
        <!-- End Services -->
    </div>
</section>
<!-- End About -->
