<header id="header" class="container">
    <div class="row">
        <div class="span9">
            <!-- Logo + Slogan -->
            <div class="logo">CHRIS WEBSTER</div>
            <div class="clearfix"></div>
            <div class="slogan"><a href="http://instagr.am/whycantidraw" style="color: #a6a7a6">@WHYCANTIDRAW</a></div>
            <!-- end Logo + Slogan -->
        </div>

        <!-- Social links -->
        <div class="span3 hidden-phone">
            <ul class="social">
                <li><a href="http://fb.me/chriswebsterphotography">FACEBOOK<span class="ico"><i class="fa fa-facebook-square"></i></span></a></li>
                <li><a href="http://instagr.am/whycantidraw">INSTAGRAM<span class="ico"><i class="fa fa-instagram"></i></span></a></li>
                <li><a href="http://life.chriswebsterphotography">TUMBLR<span class="ico"><i class="fa fa-tumblr"></i></span></a></li>
                <li><a href="http://whycantidraw.github.io">GITHUB<span class="ico"><i class="fa fa-github"></i></span></a></li>
            </ul>
        </div>
        <!-- Social links -->
    </div>

    <!-- Navigation Menu -->
    <div class="nav-container">
        <nav class="navbar">
            <div class="navbar-inner container">
                <div class="collapse-nav">
                    <span class="collapse-nav-title">NAVIGATION</span>
                    <div class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                </div>

                <div class="nav-collapse collapse">
                    <ul class="nav" id="navigation">
                        <li>
                            <a class="active" href="/#home">Home</a>
                        </li>
                        <li>
                            <a href="/#about-us">About</a>
                        </li>
                        <li>
                            <a href="/#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a href="/#contact">Contact</a>
                        </li>
                        <li>
                            <a href="gallery.html#gallery">Galleries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Navigation Menu -->

</header>
