<head>
    <meta charset="utf-8">
    <title>Chris Webster</title>
    <meta name="description" content="Chris Webster is a Photographer, Code Monkey, Designer, Systems Administrator and an All-Round Geek">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="css/flexslider.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="css/socialist.css" rel="stylesheet" media="screen"> <!-- Can probably comment this out for the mean time -->
    <link href="css/piro-box.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <!-- Javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> <!-- jQuery from Google CDN -->
    <script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script> <!-- jQuery Local if CDN failed -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap  -->
    <script src="js/jquery.flexslider-min.js"></script> <!-- Flex Slider -->
    <script src="js/waypoints.min.js" type="text/javascript"></script> <!-- Sticky Menu -->
    <script src="js/modernizr.custom.js"></script> <!--  To detact CSS3 & HTML5-->
    <script src="js/jquery.stapel.js"></script> <!-- Portfolio -->
    <script src="js/jquery.socialist.js"></script> <!-- Social Feeds -->
    <script src="js/enscroll.min.js"></script> <!-- Custom Scrollbar -->
    <script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script> <!-- Jquery UI -->
    <script type="text/javascript" src="js/pirobox_extended_min.js"></script> <!-- Lightbox popup -->
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script> <!-- Masonry(Testimonials) -->
    <script src="js/functions.js"></script> <!-- All jQuery functions and callings -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
