<!-- Latest Projects -->
<div class="hidden-tablet hidden-phone">
    <h2 class="hbg-d">Latest</h2>
    <div class="row l-projects">
        <article class="span3 preview">
            <img src="img/works/512/1.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/1.jpg" title="Respawn" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/2.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/2.jpg" title="Danilo [Metropolis Fremantle]" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/3.jpg" alt="">
            <div class="bg-layer">
               <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/3.jpg" title="Vice Versa [Amplifier Capitol]" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/4.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/4.jpg" title="S.E.A Aquarium [Sentosa Island]" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/5.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/5.jpg" title="Worlds Apart [Amplifier Capitol]" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/6.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/6.jpg" title="Last Night" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/7.jpg" alt="">
            <div class="bg-layer">
               <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/7.jpg" title="Last Night" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/8.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/8.jpg" title="Neko Nation" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/9.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/9.jpg" title="Fort Canning" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/10.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/10.jpg" title="Sunshine Punch" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/11.jpg" alt="">
            <div class="bg-layer">
               <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/11.jpg" title="tba. [Arcade Nightclub]" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
        <article class="span3 preview">
            <img src="img/works/512/12.jpg" alt="">
            <div class="bg-layer">
                <div class="p-container">
                    <div class="view">
                        <a href="img/works/1024/12.jpg" title="Metropolis Fremantle" data-rel="gallery" class="pirobox_gall">
                            <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
<!-- End Latest Projects -->
