<!-- Image Slider -->
<div class="flexslider">
        <ul class="slides">
            <li>
                <img src="img/slider/1.jpg" alt=""/>
            </li>
            <li>
                <img src="img/slider/2.jpg" alt="" />
            </li>
            <li>
                <img src="img/slider/3.jpg" alt="" />
            </li>
        </ul>

<!--                    <div class="container highlights hidden-phone hidden-tablet">
            <div class="row">
                <article class="span6 h-block">
                    <h3 class="hbg-l">Events & Nightlife</h3>
                    <div class="clearfix"></div>
                    <p></p>
                </article>

                <article class="span6 h-block">
                    <h3 class="hbg-l">Portraiture</h3>
                    <div class="clearfix"></div>
                    <p></p>
                </article> -->

<!--                        <article class="span4 h-block">
                    <h3 class="hbg-l">Weddings</h3>
                    <div class="clearfix"></div>
                    <p></p>
                </article>
            </div>
        </div> -->
</div>
<!-- End Image Slider -->
