<!DOCTYPE html>
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="en"> <!--<![endif]-->
{% include _head.html %}

    <body>
    {% include _loader.html %}
    <section id="home" class="light">
      {% include _header.html %}
      <div class="content">
        {{ content }}
      </div>
      <div class="v-space-100"></div>
      </section>
          {% include _footer.html %}
          {% include _oldie.html %}

      </body>
  </html>
